{% extends '/admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <a href="{{ path('spectacles_index') }}" class="mr-5"><i class="fas fa-hand-point-left fa-3x"></i></a>
                <a href="{{ path('spectacles_edit', {'id': spectacle.id}) }}" class="mt-5"><i class="far fa-edit fa-3x pr-3"></i></a>
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1 mt-5">Spectacles</h2>
                        </div>
                    </div>
                </div>
            </div>
                <table class="table mt-3">
                    <tbody>
                    <tr>
                        <th>Affiche</th>
                        <td><img class="img-fluid img-thumbnail w-50 sizePictureSpectacle" src="/images/posters/{{spectacle.poster }}" alt="{{ spectacle.poster }}"></td>
                    </tr>
                    <tr>
                        <th>Titre</th>
                        <td>{{ spectacle.title }}</td>
                    </tr>
                    <tr>
                        <th>Résumé</th>
                        <td>{{ spectacle.resume }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
