{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}

    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-between">
                        <div class="overview-wrap">
                            <h2 class="title-1">Cours</h2>
                        </div>
                        <div class="container-contact100-form-btn">
                            <div class="wrap-contact100-form-btn">
                                <div class="contact100-form-bgbtn"></div>
                                <a href="{{ path('activities_new') }}">
                                    <button class="btn btn contact100-form-btn">{{ button_label|default('Créer un nouveau cours') }}</button>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row m-t-25">
                    <div class="col-lg-12">
                        <div class="table-responsive table--no-card m-b-30">
                            <table class="table table-borderless table-striped table-earning">
                                <thead>
                                <tr>
                                    <th class="text-center">Photo</th>
                                    <th class="text-center">Cours</th>
                                    <th class="text-center">Jour</th>
                                    <th class="text-center">Horaires</th>
                                    <th class="text-cnter">Nombre de participants</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%  for activity in activities %}
                                <tr class="accordion-toggle">
                                    <td class="text-center" data-toggle="collapse" data-target="#collapse{{ activity.id }}"><img class="img-fluid img-thumbnail sizePictureTab" src="/images/activities/{{ activity.picture }}" alt="{{ activity.picture }}"></td>
                                    <td class="text-center" data-toggle="collapse" data-target="#collapse{{ activity.id }}">{{ activity.cours }}</td>
                                    <td class="text-center" data-toggle="collapse" data-target="#collapse{{ activity.id }}">{{ activity.day }}</td>
                                    <td class="text-center" data-toggle="collapse" data-target="#collapse{{ activity.id }}">{{ activity.hour }}</td>
                                    <td class="text-center" data-toggle="collapse" data-target="#collapse{{ activity.id }}">{{ activity.getRegistrationsValidated }}</td>
                                    <td class="text-center">
                                        <div class="container">
                                            <a href="{{ path('activities_edit', {'id': activity.id}) }}"><i class="far fa-edit fa-lg pr-3"></i></a>
                                            <form method="post" class="crossbones" action="{{ path('activities_delete', {'id': activity.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer ce cours?');">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value={{ csrf_token('delete' ~ activity.id) }}>
                                                <button type="submit" class="text-danger"><i class="fas fa-skull-crossbones fa-lg"></i></button>
                                            </form>

                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="6">
                                        <div id="collapse{{ activity.id }}" class="collapse in">
                                            <div class="row justify-content-center font-weight-bold">
                                                Liste des élèves
                                            </div>
                                            <div class="row font-weight-bold">
                                                <div class="col-2 text-center">
                                                    Prénom
                                                </div>
                                                <div class="col-2 text-center">
                                                    Nom
                                                </div>
                                                <div class="col-4 text-center">
                                                    Mail
                                                </div>
                                                <div class="col-2 text-center">
                                                    Tel
                                                </div>
                                                <div class="col-2">
                                                    Action
                                                </div>
                                            </div>
                                            {%  for registration in activity.registrations %}
                                                {% if registration.validated == 'oui' %}
                                                    <div class="row">
                                                        <div class="col-2 text-capitalize text-center">
                                                            {{ registration.user.firstname }}
                                                        </div>
                                                        <div class="col-2 text-capitalize text-center">
                                                            {{ registration.user.lastname }}
                                                        </div>
                                                        <div class="col-4 text-center">
                                                            {{ registration.user.email }}
                                                        </div>
                                                        <div class="col-2 text-center">
                                                            {{ registration.user.phoneMobil }}
                                                        </div>
                                                        <div class="col-2">
                                                            {#<a href="#"><i class="fas fa-plus fa-lg pr-3"></i></a>#}
                                                            <a href="{{ path('admin_un', {'id': registration.id})  }}" class="text-danger"><i class="fas fa-skull-crossbones fa-lg"></i></a>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}