<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <title>{% block title %}Chapo - clac{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    <!-- stylesheets css -->
    <link rel="stylesheet" href="../users/css/bootstrap.min.css">

    <link rel="stylesheet" href="../users/css/magnific-popup.css">

    <link rel="stylesheet" href="../users/css/animate.min.css">
    <link rel="stylesheet" href="../users/css/font-awesome.min.css">

    <link rel="stylesheet" href="../users/css/nivo-lightbox.css">
    <link rel="stylesheet" href="../users/css/nivo_themes/default/default.css">

    <link rel="stylesheet" href="../users/css/hover-min.css">
    <link rel="stylesheet" href="../users/css/flexslider.css">

    <link rel="stylesheet" href="../users/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>

    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<!-- Navigation section -->
{% include 'user/navbar.html.twig' %}

<!-- page de tout les articles -->
{% block body %}

    <!-- Feature section -->
    <section id="gallery" class="">
        <div class="container">

            <div class="row">

                <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">

                    <div class="" data-wow-delay="0.6s">
                        <h2 class="titleColor">Souvenirs en photos</h2>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Choisir un spectacle <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                {% for spectacle in spectacles %}
                                    <li><a href="{{ path('remenber_spectacle',{'id':spectacle.id}) }}">{{ spectacle.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
<div style="height: 40px;"></div>
                </div>


                <div class="" data-wow-delay="0.9s">

                    <div class="iso-box-wrapper col4-iso-box">

                        {% for gallery in galeries|slice(0,0) %}

                            <div class="iso-box {{ gallery.spectacle.title }} col-md-4 col-sm-6">
                                <div class="gallery-thumb">
                                    <a href="/images/gallery/{{ gallery.picture }}" data-lightbox-gallery="food-gallery">
                                        <img src="images/gallery/{{ gallery.picture }}" class="fluid-img" alt="Gallery">
                                        <div class="gallery-overlay">
                                            <div class="gallery-item">
                                                <i class="fa fa-search"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        {% endfor%}

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

<!-- javscript js -->
<script src="../users/js/jquery.js"></script>
<script src="../users/js/bootstrap.min.js"></script>

<script src="../users/js/jquery.magnific-popup.min.js"></script>

<script src="../users/js/jquery.sticky.js"></script>
<script src="../users/js/jquery.backstretch.min.js"></script>

<script src="../users/js/isotope.js"></script>
<script src="../users/js/imagesloaded.min.js"></script>
<script src="../users/js/nivo-lightbox.min.js"></script>

<script src="../users/js/jquery.flexslider-min.js"></script>

<script src="../users/js/jquery.parallax.js"></script>
<script src="../users/js/smoothscroll.js"></script>
<script src="../users/js/wow.min.js"></script>

<script src="../users/js/custom.js"></script>

{% block javascripts %}{% endblock %}
</body>
</html>